# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Pertemuan 02/Latihan praktik/nbproject/private/
/Pertemuan 02/Latihan praktik/build/
/Pertemuan 02/Latihan/nbproject/private/
/Pertemuan 01/HelloDunia/build/
/Pertemuan 02/Latihan/build/
/Pertemuan 03/Latihan/nbproject/private/
/Pertemuan 03/Latihan/build/
/Pertemuan 03/Latihan 3/nbproject/private/
/Pertemuan 03/Latihan 3/build/
/Pertemuan 03/Casting01/build/
/Pertemuan 03/Casting01/nbproject/private/
/Pertemuan 03/Casting02/build/
/Pertemuan 03/Casting02/nbproject/private/
/Pertemuan 03/Parsing01/build/
/Pertemuan 03/Parsing01/nbproject/private/
/Pertemuan 03/ShoppingCart02/build/
/Pertemuan 03/ShoppingCart02/nbproject/private/
/Pertemuan 03/Inputan/nbproject/private/
/Pertemuan 03/Inputan/build/
/Pertemuan 02/Practice/ProblemSet2_1/ProblemSet2_1/build/
/Pertemuan 02/Practice/ProblemSet2_1/ProblemSet2_1/nbproject/private/
/Pertemuan 02/Practice/ProblemSet2_2/ProblemSet2_2/build/
/Pertemuan 02/Practice/ProblemSet2_2/ProblemSet2_2/nbproject/private/
/Pertemuan 03/Variables01/Variables01_Example/build/
/Pertemuan 03/Variables01/Variables01_Example/nbproject/private/
/Pertemuan 03/Variables02/Variables02/build/
/Pertemuan 03/Variables02/Variables02/nbproject/private/
/Pertemuan 03/Variables03/Variables03/build/
/Pertemuan 03/Variables03/Variables03/nbproject/private/
/Pertemuan 03/Chickens01/Chickens01/build/
/Pertemuan 03/Chickens01/Chickens01/nbproject/private/
/Pertemuan 03/Chickens02/Chickens02/build/
/Pertemuan 03/Chickens02/Chickens02/nbproject/private/
/Pertemuan 03/ShoppingCart01/ShoppingCart01/build/
/Pertemuan 03/ShoppingCart01/ShoppingCart01/nbproject/private/
/Pertemuan 03/ShoppingCart02/ShoppingCart02/build/
/Pertemuan 03/ShoppingCart02/ShoppingCart02/nbproject/private/
/Pertemuan 03/Casting01/Casting01/build/
/Pertemuan 03/Casting01/Casting01/nbproject/private/
/Pertemuan 03/Casting02/Casting02/build/
/Pertemuan 03/Casting02/Casting02/nbproject/private/
/Pertemuan 03/Parsing01/Parsing01/build/
/Pertemuan 03/Parsing01/Parsing01/nbproject/private/
/Pertemuan 03/Input01/Input01/build/
/Pertemuan 03/Input01/Input01/nbproject/private/
/Pertemuan 03/Input02/Input02/build/
/Pertemuan 03/Input02/Input02/nbproject/private/
/Pertemuan 03/Input03/Input03/build/
/Pertemuan 03/Input03/Input03/nbproject/private/
/Pertemuan 03/Input04/Input04/build/
/Pertemuan 03/Input04/Input04/nbproject/private/
/Pertemuan 03/Practice/ProblemSet03/nbproject/private/
/Pertemuan 03/Practice/ProblemSet03/build/
/Pertemuan 04/ProblemSet4_2/ProblemSet4_2/ProcessingName/build/
/Pertemuan 05/ProblemSet5_1/ProblemSet5_1/CheckColorRange/nbproject/private/
/Pertemuan 05/ProblemSet5_2/ProblemSet5_2/TrafficLight/build/
/Pertemuan 05/ProblemSet5_2/ProblemSet5_2/TrafficLight/nbproject/private/
/Pertemuan 05/ProblemSet5_3/ProblemSet5_3/TrafficLightSwitch/nbproject/private/
/Pertemuan 05/ProblemSet5_1/ProblemSet5_1/CheckColorRange/build/
/Pertemuan 05/ProblemSet5_3/ProblemSet5_3/TrafficLightSwitch/build/
/Pertemuan 06/BreakContinueEx/BreakContinueEx/nbproject/private/
/Pertemuan 06/Practice/ProblemSet6_1/ProblemSet6_1/ValidatePin/nbproject/private/
/Pertemuan 06/Practice/ProblemSet6_2/ProblemSet6_2/DisplayMultiples/nbproject/private/
/Pertemuan 06/Practice/ProblemSet6_3/ProblemSet6_3/build/
/Pertemuan 06/Practice/ProblemSet6_3/ProblemSet6_3/nbproject/private/
/Pertemuan 06/WhileLoopExercise/WhileLoopExercise/build/
/Pertemuan 06/WhileLoopExercise/WhileLoopExercise/nbproject/private/
/Pertemuan 06/Practice/ProblemSet6_1/ProblemSet6_1/ValidatePin/build/
/Pertemuan 06/Practice/ProblemSet6_2/ProblemSet6_2/DisplayMultiples/build/
/Pertemuan 07/PrisonTest_Student_7_3/PrisonTest_Student_7_3/build/
/Pertemuan 07/PrisonTest_Student_7_3/PrisonTest_Student_7_3/nbproject/private/
/Pertemuan 07/Practice 7/Testing/nbproject/private/
